// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// UCLA Colors
$ucla-blue:             #3284BF; // UCLA Blue
$ucla-gold:             #FFE800; // UCLA Gold
$dark-blue:             #1E4B87; // Secondary Palette, Dark Blue
$light-blue:            #00A5E5; // Secondary Palette, Light Blue
$gray:                  #666666; // Tertiary Palette, Gray


// Theme Specific Colors
$brand-primary:         #013c6f; // dark blue header/footer background
$darker-blue:           #00284a; // used for sub page header backgrounds
$dark-gray:             #363636; // gray content section background
$white:                 #FFFFFF;
$link-inline:           #9edeff; // gray content link color
$link-active:           #FFE800; // UCLA Gold


// LACCTheme Specific Colors
$main-brown: #6a4426;
$main-blue: #6383a8;
$main-text: #3f3f3f;
$main-beige: #f6f3ed;
$main-light-brown: #ad8a5f;
$main-gold: #ad8a5f;
$footer-text: #d9d9d9;
$footer-link: #8b8b8b;
$footer-hhs-gray:           #181919; // UCLA Hospitality Group footer background

// UCLA Brand Fonts
$sans-serif: 'Proxima Nova Regular', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$italic-sans-serif: 'Proxima Nova Regular Italic', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$light-sans-serif: 'Proxima Nova Light', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$semibold-sans-serif: 'Proxima Nova Semibold', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$bold-sans-serif: 'Proxima Nova Bold', 'Helvetica Neue', Helvetia, Arial, sans-serif;

.sans-serif {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 400;
}

.italic-sans-serif {
    font-family: $italic-sans-serif;
    font-style: italic;
    font-weight: 400;
}

.light-sans-serif {
    font-family: $light-sans-serif;
    font-style: normal;
    font-weight: 300;
}

.semibold-sans-serif {
    font-family: $semibold-sans-serif;
    font-style: normal;
    font-weight: 600;
}

.bold-sans-serif {
        font-family: $bold-sans-serif;
    font-style: normal;
    font-weight: 700;
}

// Theme Specific Fonts

// Container Widths
$large-container-width: 1280px;
$medium-container-width: 960px;
$extra-small-container-width: 480px;
$small-container-width: 768px;

$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
